node_modules

*storybook.log
# build rollup
# exclude configs/**/index.js
dist
/index.js
/index.d.ts
packages/*/index.js
packages/*/index.d.ts

# packages/<package-name>/scripts/*
packages/*/scripts

# jest
coverage

# yarn
.yarn/*
.yarn/install-state.gz
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
