.YnI-Grid-root {
  width: 100%;

  .YnI-Grid {
    &[data-regular="false"] {
      position: relative;
    }

    &[data-regular="true"] {
      display: grid;
    }

    .YnI-Grid-Item {
      transition: transform 200ms;
    }

    .YnI-Grid-Item-Irregular {
      position: absolute;
    }
  }
}
