.Mini-Tabs {
  display: flex;
  width: fit-content;

  border-bottom: 1px solid gray;

  &.animation {
    position: relative;

    .Mini-Tabs-Indicator {
      display: block;
      position: absolute;
      bottom: 0;
      height: 2px;
      background-color: black;
      transition:
        width 150ms,
        left 150ms;
    }
  }

  &:not(.animation) {
    .Mini-Tab.active {
      border-bottom: 2px solid black;
    }
  }

  .Mini-Tab {
    box-sizing: border-box;

    .Mini-Tab-Button {
      border: none;
      border-radius: unset;
      box-sizing: unset;
    }
  }
}
