.YnI-Label-root {
  display: flex;
  align-items: center;

  cursor: pointer;

  &[aria-disabled="true"] {
    cursor: default;

    color: rgba(118, 118, 118, 0.3);
  }

  &[aria-required="true"] {
    .YnI-Label-text {
      font-weight: 600;
      &::after {
        content: "*";

        padding-left: 8px;
      }
    }
  }

  &.YnI-Label-layout {
    &--top {
      flex-direction: column-reverse;
    }

    &--bottom {
      flex-direction: column;
    }

    &--right {
      flex-direction: row;
    }
    &--left {
      flex-direction: row-reverse;
    }
  }

  .YnI-Label-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.16px;
  }
}

.YnI-CheckBox-root {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  padding: 8px;

  cursor: pointer;

  &[aria-disabled="true"] {
    cursor: default;
  }

  .YnI-CheckBox {
    width: 16px;
    height: 16px;

    margin: 4px;
    cursor: inherit;
  }
}
