.Mini-Ripple-root {
  @keyframes ripple-animation {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }

    100% {
      transform: translate(-50%, -50%) scale(var(--material-scale));
      opacity: 0.12;
    }
  }

  position: absolute;
  overflow: hidden;

  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;

  &:hover {
    background-color: rgb(224, 224, 224, 0.38);
    transition: background-color 300ms;
  }

  .animate {
    width: 2px;
    height: 2px;
    position: absolute;
    border-radius: 50%;

    background-color: rgb(189, 195, 199);

    animation: ripple-animation 500ms linear forwards;
  }
}
