.YnI-Calendar {
  width: fit-content;

  .YnI-Calendar-Header {
    display: flex;
    justify-content: center;

    font-size: 1.125rem;
    line-height: 26px;
    font-weight: 600;
  }

  .YnI-Calendar-Cell {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    margin: 4px;

    border-radius: 4px;

    transition: background-color 300ms;

    .YnI-Calender-Cell-Button {
      min-width: unset;

      width: inherit;
      height: inherit;

      border: none;
      border-radius: inherit;

      padding: 8px;
    }
  }

  .YnI-Calendar-Weekdays {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;

    list-style-type: none;

    .YnI-Calendar-Weekday {
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  .YnI-Calendar-Days {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    padding: 0;
    margin: 0;

    list-style-type: none;

    .YnI-Calendar-Row {
      display: flex;

      padding: 0;
      margin: 0;

      list-style-type: none;

      .YnI-Calendar-Day {
        transition: background-color 300ms;

        &.empty {
        }

        &.selected:not(.today) {
          background-color: rgb(240, 240, 240);
        }

        &.today {
          background-color: rgb(87, 87, 233);

          .YnI-Calender-Cell-Button > span {
            color: rgb(240, 240, 240);
            font-weight: 600;
          }
        }
      }
    }
  }
}
