.Mini-Toast-root {
  @keyframes toast-in {
    0% {
      transform: translateY(-1%);
      scale: 0.9;
      opacity: 0;
      display: none;
    }
    1% {
      transform: translateY(-1%);
      scale: 0.9;
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      scale: 1;
      opacity: 1;
    }
  }

  @keyframes toast-out {
    0% {
      transform: translateY(0);
      opacity: 1;
      scale: 1;
    }
    99% {
      transform: translateY(-1%);
      scale: 0.9;
      opacity: 0;
    }
    100% {
      transform: translateY(-1%);
      scale: 0.9;
      opacity: 0;
      display: none;
    }
  }

  z-index: 1400;
  position: fixed;
  top: 8px;
  left: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  &.close {
    display: none;
  }

  &.open .Mini-Toast {
    animation: toast-in 150ms linear forwards;
  }

  &.fade-out .Mini-Toast {
    animation: toast-out 150ms linear forwards;
  }

  @media (min-width: 600px) {
    top: 24px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }

  .Mini-Toast {
    border-radius: 4px;

    padding: 8px 12px;

    @media (min-width: 600px) {
      min-width: 288px;
    }

    background-color: rgb(50, 50, 50);
    box-shadow:
      rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
      rgba(0, 0, 0, 0.14) 0px 6px 10px 0px,
      rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;

    color: rgb(255, 255, 255);
  }
}
