.Mini-Grid-root {
  width: 100%;

  .Mini-Grid {
    &[data-regular="false"] {
      position: relative;
    }

    &-Item {
      transition: transform 200ms;
    }

    &-Item-Irregular {
      position: absolute;
    }
  }
}
